.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .main-container {
        height: 100%;
        transition: margin-left .28s;
        margin-left: 200px;
        position: relative;
        background: #EDEFF6;
    }
}